version: "3.8"

services:
  db:
    image: mysql:8.0
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: Senha123
      MYSQL_DATABASE: meubanco
    ports:
      - "3306:3306"
    volumes:
      - ./db:/docker-entrypoint-initdb.d

  php:
    image: php:8.2-apache
    container_name: php_app
    restart: always
    volumes:
      - ./app:/var/www/html
    depends_on:
      - db
    ports:
      - "8080:80"

  nginx:
    build:
      context: ./docker
    container_name: nginx_proxy
    ports:
      - "4500:4500"
    depends_on:
      - php
